# Question-1
- Import the grades excel file as a dataframe
- display the first 10 rows
- display the last 10 rows

# Solution

In [12]:
# first ten

import pandas as pd
# mount
# connection between colab notebook and drive
from google.colab import drive
drive.mount('/content/drive')

# import grades file
df_grades = pd.read_excel('/content/drive/My Drive/QCC-Bootcamp/Machine Learning/LAB/grades.xlsx')
df_grades.head(10)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

    Name        ID  Grade Gender  HW  Test-1  Test-2  Test-3  Test-4  Final
0  mqtvy  37047871     10      M  30      91      69      93      17     50
1  jbbsx  35439616     11      F   6      18      93       9      98     91
2  mrvab  35543247     11      M  78      92      60      43      34     26
3  bjyve  61282135      9      M  60       8      10      99      80     87
4  rlpsr  53448034     10      M   3      38      45      43      79     69
5  hotxq  96808584      9      F  29      18      61      17      72     39
6  ylskw  37901138      9      M  53      85      61      87       9     94
7  cuepi  91568175     11      M  27      61      82      19      19      8
8  fmrdj  70101966      9      F  52      35      14      70      12     78
9  iyhzx    840574     11      M  91      89      37      93      96     28

In [13]:
# last ten
df_grades.tail(10)

     Name        ID  Grade Gender  HW  Test-1  Test-2  Test-3  Test-4  Final
90  wxtpu  98301627     12      M  44      57      99      87       9     62
91  dvadf  79686024     11      F   1      80      24      77      80     77
92  lagws  82526433     12      F  12      45      97      92      20     29
93  yzljj  10884705     10      M  92      75      41      33      61     66
94  jloze  30408806     10      M  19      24      73      98      48     95
95  zxuaq  58332078     12      M  57       1      48      61      58     99
96  vegye  10019910     11      F  88      30      48      85      48     17
97  euwlj  27967150     12      F  70      15      72      77      20     65
98  oesms  36171468     10      M  88      16     100      62      76     19
99  buugr  88783139     10      M  23      74      14      17      40     59

# Question-2
- diplay the Test 3 grade of student **rlpsr** (5th student)
  - by using loc
  - by using iloc

# Solution-2

In [14]:
# Using loc
test3_grade_loc = df_grades.loc[df_grades['Name'] == 'rlpsr', 'Test-3'].values[0]
print(f"Test-3 grade of student rlpsr using loc: {test3_grade_loc}")

# Using iloc
test3_grade_iloc = df_grades.iloc[4, 6]  # 4 is the index for 5th student, 6 is the index for "Test-3" column
print(f"Test-3 grade of student rlpsr using iloc: {test3_grade_iloc}")

Test-3 grade of student rlpsr using loc: 43
Test-3 grade of student rlpsr using iloc: 45

# Question-3
- Display column names

# Solution-3

In [15]:
print(df_grades.columns)

Index(['Name', 'ID', 'Grade', 'Gender', 'HW', 'Test-1', 'Test-2', 'Test-3',
       'Test-4', 'Final'],
      dtype='object')

# Question-4
- remove the gender column permanently

# Solution-4

In [16]:
df_grades.drop('Gender', axis=1, inplace=True)

# Question-5
Add a new column named Weighted Average which is equal to  
10% of HW + 15% of Test-1 + 15% of Test-2+ 15% of Test-3+ 15% of Test-4+ 30% of Final

# Solution-5

In [17]:
df_grades['Weighted Average'] = (0.10 * df_grades['HW'] +
                                0.15 * df_grades['Test-1'] +
                                0.15 * df_grades['Test-2'] +
                                0.15 * df_grades['Test-3'] +
                                0.15 * df_grades['Test-4'] +
                                0.30 * df_grades['Final'])

# Question-6

- Display only the name of the student with highest Weighted Average

# Solution-6

In [18]:
student_with_highest_avg = df_grades.loc[df_grades['Weighted Average'].idxmax(), 'Name']
print(student_with_highest_avg)

amadn

# Question-7
Find the number of students in 11th grade

# Solution-7

In [19]:
students_in_11th_grade = df_grades['Grade'].value_counts().get(11, 0)
print(f"Number of students in 11th grade: {students_in_11th_grade}")

Number of students in 11th grade: 26